<!DOCTYPE html>
<html>
<head>
    <title>Ansible ile yapılandırılmış Nginx sunucusu</title>
    <style>
        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Merhaba!</h1>
    <p>Bu sunucu Ansible tarafından yapılandırıldı.</p>
    <p>Sunucu adı: {{ ansible_hostname }}</p>
    <p>İP Adresi: {{ ansible_default_ipv4.address }}</p>
    <p>Yapılandırma zamanı: {{ ansible_date_time.iso8601 }}</p>
</body>
</html> 